<section class="group grid {{ product.handle }}">
  
    <div class="clearfix">
    {% if template != 'index' %}
        <div class="">
            <div class="breadcrumb clearfix">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span> 
                <span class="arrow-space">&#62;</span>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    {% if collection %}
                        <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
                    {% else %}
                        <a href="/collections/all" title="All Products">Products</a>
                    {% endif %}
                </span>
                <span class="arrow-space">&#62;</span>
                <strong>{{ product.title }}</strong>
            </div>
        </div><!-- End breadcrumb -->
    {% endif %}
    <!-- Begin product photos -->
    <article class="col col--8 flexslider--product">
        <ul class="slides">
            {% if product.images.size > 1%}
                {% for image in product.images %}
                <li data-thumb="{{ image | product_img_url: 'original' }}">
                  <img class="js--toggle-slide"
                       src="{{ image | product_img_url: 'original' }}" 
                       alt="{{ image.alt | escape }}" />
                </li>
                {% endfor %}
            {% endif %}
        </ul><!-- .flexslider .flexslider--prodcut -->
    </article><!-- end product photos
 --><article class="col col--4">
        <header>
            <h1 class="title">{{ product.title }}</h1>
        </header> 

      <div class="purchase">
        <h2 class="price" id="price-preview">{{ product.price_min | money }}{% if product.price_min < product.compare_at_price_min %} <del>{{ product.compare_at_price_min | money }}</del>{% endif %}</h2>
      </div>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}
            
        {% include 'product-form' %}

        <div class="description">
            {{ product.description }}
        </div>

     
        <aside class="social">
            {% include 'like' %}
        </aside><!-- End social buttons -->
	  
    </article>
    <!-- End description -->
	<div class="span12"><div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div></div>
  </div>

    <!-- Begin related product -->
    {% if settings.show_related_products %}
        {% include 'related-products' %}
    {% endif %}
  
</section> 

<div style="display:none" id="preloading">
    {% for image in product.images offset: 1 %}
        {{ image | product_img_url: 'original' | img_tag }}
    {% endfor %}
</div>

  <script>
  var selectCallback = function(variant, selector) {
    if (variant && variant.available) {
      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
    } else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
      var message = variant ? "Sold Out" : "Unavailable";
      jQuery('#price-preview').text(message);
    }
  };

  //generate selectors

  jQuery(document).ready(function($){
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}
  
    // Auto-select first available variant on page load.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}
  });

  </script>
