
{% if settings.slide_1 or settings.slide_2 or settings.slide_3 or settings.slide_4 %}
<div class="slideshow">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..4) %}
          {% capture show_slide %}slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div><!-- End slider -->
{% endif %}
<section class="featured group">
    <header>
        <h1>Featured Products:</h1>
    </header>
    <div class="grid">
        <article class="col col--4">
            <a href="{{ settings.featured_1_link }}">
                <div class="featured__collection">
                    <img src="{{ 'featured_1.jpg' | asset_url }}">
                    <span>Fueled</span>
                </div>
            </a>
        </article><!--
         --><article class="col col--4">
         <a href="{{ settings.featured_2_link }}">
                <div class="featured__collection">
                    <img src="{{ 'featured_2.jpg    ' | asset_url }}">
                    <span>Fueled</span>
                </div>
            </a>
        </article><!--
         --><article class="col col--4">
         <a href="{{ settings.featured_3_link }}">
                <div class="featured__collection">
                    <img src="{{ 'featured_3.jpg' | asset_url }}">
                    <span>Fueled</span>
                </div>
            </a>
        </article><!--
    --></div><!-- .grid -->
</section><!--featured -->

<!-- Fueled Start -->
<section class="group">
    <header class="">
        <div>
            <h1>Fueled Boilerplate</h1>
        </div>
    </header>

    <section>
        <aside>
            <ul>
                <li>
                    <a href="#lists">Lists</a>
                </li>
                <li>
                    <a href="#grids">Grids</a>
                </li>
                <li>
                    <a href="#media">Media</a>
                </li>
            </ul>
        </aside>
        <main>
            <div id="lists">
                <h2>Lists</h2>
                <ul>
                    <li>This is an unordered list</li>
                    <li>Lorem ipsum</li>
                    <li>Dolor sit amet</li>
                </ul>
                <ol>
                    <li>This is an ordered list</li>
                    <li>Lorem ipsum</li>
                    <li>Dolor sit amet</li>
                </ol>
                <ul class="list--basic">
                    <li>This is a basic list</li>
                    <li>With no bullet points</li>
                    <li>Lorem ipsum</li>
                </ul>
                <ul class="list--inline list--inline--dot">
                    <li>This is an inline list</li>
                    <li>Separated by a dot</li>
                    <li>Lorem ipsum</li>
                </ul>
                <ul class="list--inline list--inline--slash">
                    <li>This is an inline list</li>
                    <li>Separated by a slash</li>
                    <li>Lorem ipsum</li>
                </ul>
                <ul class="list--inline list--inline--pipe">
                    <li>This is an inline list</li>
                    <li>Separated by a pipe</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>

            <div id="paragraphs">
                <h2>Paragraphs</h2>
                <p><strong>Regular</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>Indented</strong></p>
                <p class="indented">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
                <p class="indented">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div id="grid">
                <h2>Grids</h2>
                <div class="grid">
                    <div class="col col--3">
                        <p>Lorem ipsum</p>
                    </div><!--
                 --><div class="col col--8">
                        <p>Lorem ipsum</p>
                    </div><!--
                 --><div class="col col--1">
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
            </div>

            <div id="buttons">
                <h2>Buttons</h2>
                <div>
                    <h3>Regular Button</h3>
                    <a href="#" class="btn">Button</a>
                </div>
            </div>
        </main>
    </section> <!-- .page -->
</section><!--Fueled End -->


<!-- end content page -->